<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" lang="es" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Pagina simulada para añadir a portafolio desarrollada por Franklin Cortés" />
  <title>AllTechno</title>
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="../css/style.css" />
  <link rel="stylesheet" href="../css/style_admin.css" />
  <link rel="stylesheet" href="../css/style_home.css" />
  <link type="image/png" sizes="16x16" rel="icon" href="../../resources/icono.png" />
  <script src="../js/validateSession.mjs"></script>
</head>

<body>
  <div id="loading-overlay"></div>
  <div id="admin-content">
    <header>
      <nav>
        <a href="#">
          <h1 class="ttl-nav">AllTechno</h1>
        </a>
        <div class="items-nav">
          <button class="btn-categories">☰ &nbsp;&nbsp; Categorias</button>
          <input class="search-bar" type="text" placeholder="Ingresa tu busqueda" />
        </div>
        <img src="../../resources/usuario.png" class="user-icon" alt="user icon" width="30px" height="30px" />

        <div class="dropdown-menu">
          <div class="row-1">
            <ul>
              <a href="desktopPcs.html">
                <li>Equipos de escritorio</li>
              </a>
              <a href="processors.html">
                <li>Procesadores</li>
              </a>
              <a href="ram.html">
                <li>RAM</li>
              </a>
              <a href="powerSupplies.html">
                <li>Fuentes de poder</li>
              </a>
            </ul>
          </div>
          <div class="row-2">
            <ul>
              <a href="laptops.html">
                <li>Portatiles</li>
              </a>
              <a href="cellphones.html">
                <li>Celulares</li>
              </a>
              <a href="screens.html">
                <li>Pantallas</li>
              </a>
            </ul>
          </div>
        </div>

        <div class="dropdown-menu dropdown-menu-user">
          <ul>
            <a href="changePassword.html">
              <li>Cambiar Clave</li>
            </a>
            <a>
              <li>Cerrar Sesión</li>
            </a>
          </ul>
        </div>

        <div class="dropdown-menu dropdown-menu-search">
          <ul></ul>
        </div>
      </nav>

      <div class="sub-nav">
        <ul>
          <li>BOG: 3000000000 - 3000000000</li>
          <li>MED: 3000000000</li>
          <li>B/QUILLA: 3000000000</li>
        </ul>
        <ul>
          <i class="bx bxl-facebook-square" style="color: black"></i>
          <i class="bx bxl-tiktok" style="color: black"></i>
          <i class="bx bxl-instagram-alt" style="color: black"></i>
        </ul>
      </div>
    </header>

    <main>
      <div class="row-ttl-home">
        <h3>GESTION DE PRODUCTOS Y USUARIOS</h3>
        <p>
          Esta sección está diseñada para que tú, como administrador, puedas
          ver todos los productos y usuarios registrados en la tienda, agregar
          nuevos productos y usuarios al sistema, y generar informes
          detallados en formatos Excel y PDF, facilitando así la gestión y el
          análisis de datos.
        </p>
      </div>
      <div class="slider-card">
        <div class="container">
          <div class="swiper-wrapper">

            <div class="products-management">
              <h4>PRODUCTOS</h4>

              <div class="btns-products">
                <div><a href="createProduct.html"><button class="btn-create-home">Agregar +</button></a>
                  <span>Crear nuevo producto</span>
                </div>
                <div><button class="btn-pdf btn-pdf-product">Generar pdf</button>
                  <span>Reporte .pdf</span>
                </div>
                <div><button class="btn-excel btn-excel-product">Generar excel</button>
                  <span>Reporte .xlsx</span>
                </div>
              </div>
            </div>


            <div class="users-management">
              <h4>USUARIOS</h4>
              <table>
              </table>

              <div class="btns-users">
                <div><a href="createUser.html"><button class="btn-create-home">Agregar +</button></a>
                  <span>Crear nuevo usuario</span>
                </div>
                <div><button class="btn-pdf btn-pdf-user">Generar pdf</button>
                  <span>Reporte .pdf</span>
                </div>
                <div><button class="btn-excel btn-excel-user">Generar excel</button>
                  <span>Reporte .xlsx</span>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
  </div>
  </main>

  <footer>
    <div class="business-info">
      <h5>NUESTRA EMPRESA</h5>
      <p>
        El nombre de esta página web fue creado con el único propósito de
        simular una empresa ficticia con el fin de demostrar habilidades de
        diseño y desarrollo web, y se utiliza exclusivamente con propósitos
        educativos y como parte de mi portafolio. Es importante destacar que
        cualquier coincidencia con el nombre de una empresa real es
        puramente fortuita, y esta página no tiene ninguna relación ni
        afiliación con dicha entidad comercial.
      </p>

      <br />
      <hr />
      <p>
        Franklin Cortés ©
        <span class="year-footer">
          <script>
            //access to year for footer
            const date = new Date();
            document.querySelector(".year-footer").innerHTML = date.getFullYear();

            fetch("http://localhost:5000/allTechno/user/getAll")
              .then(res => res.json())
              .then(users => {
                let codeTable = `
                      <tr>
                        <th>Identificación</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Celular</th>
                        <th>Rol</th>
                        <th class="actions">Acciones</th>
                      </tr>
                  `;

                codeTable += users.map(user => {
                  return `
                      <tr>
                        <td class="identificacion">${user.identificacion}</td>
                        <td>${user.nombres} ${user.apellidos}</td>
                        <td>${user.correo}</td>
                        <td>${user.celular}</td>
                        <td>${user.rol}</td>
                        <td class="btns-leader">
                          <button class="btn-edit-user" style="border-radius: 5px; border: none; background-color: green; padding: 5px 10px;"><img src="../../resources/editar.png" alt="" width="20px"></button>
                          <button class="btn-delete-user" style="border-radius: 5px; border: none; background-color: red; padding: 5px 10px;"><img src="../../resources/eliminar.png" alt="" width="20px"></button>
                        </td>
                      </tr>
                    `;
                }).join("");

                document.querySelector("table").innerHTML = codeTable;
              })
          </script>
        </span>
      </p>
    </div>
    <div class="business-contact">
      <h5>CONTÁCTANOS</h5>
      <ul>
        <li>Bogotá D.C</li>
        <li>alltechnologies@gmail.com</li>
        <li>+57 300 000 00 00</li>
      </ul>
    </div>
  </footer>
  </div>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
  <script src="../../views/js/swipers.js"></script>
  <script src="../../views/js/dropdowns.js"></script>
  <script src="../../views/js/showProductsBySearch.mjs"></script>
  <script src="../../views/js/generateReports.js"></script>
  <script type="module" src="../../views/js/deleteProducts-User.mjs"></script>

  <script type="module">
    import { SesionManagement } from "../js/login-logout.mjs";

    document.querySelector(".dropdown-menu-user a:last-child").addEventListener("click", () => {
      SesionManagement.logout()
    })

  </script>

</body>

</html>