<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AllTechno</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style_login.css">
    <link type="image/png" sizes="16x16" rel="icon" href="../resources/icono.png">
</head>
<body>
    
    <div>
        <i class='bx bx-left-arrow-alt row' id="row-login" style="color: black"></i>
        <script>
            document.addEventListener("DOMContentLoaded", () => {
                const elementI = document.getElementById("row-login");
                elementI.addEventListener("click", (e) => {
                    e.preventDefault()
                    let previousURL = document.referrer
                    if(previousURL.includes("reset-password")) window.location.href = "../index.html"
                    else window.history.go(-1)
                })
            })

        </script>
    </div>

    <div class="ctn-form">
        <form action="" method="post">
            <h2>INICIO DE SESIÓN</h2>

            <label class="label-login" for="email">Correo Electrónico</label>
            <input type="email"  id="email" autocomplete="email" class="inp-email">

            <label class="label-login" for="password">Contraseña</label>
            <div class="ctn-pass">
                <input type="password" id="password" autocomplete="off" class="inp-pass">
                <i class='bx bx-show login-eye eye' style="color: black;"></i>
            </div>

            
            <div class="forgot-pass">
                <a href="reset-password.html"><span>¿Olvidaste tu contraseña?</span></a>
            </div>

            <button class="btn-login">Ingresar</button>

        </form>
    </div>

    <script src="js/utils.js"></script>

    <script type="module">
        import { SesionManagement } from "./js/login.mjs";    
        document.querySelector(".ctn-form form").addEventListener("submit", (e) => {
            e.preventDefault();
            SesionManagement.login()
        })
    </script>
</body>
</html>