<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AllTechno</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style_login.css">
    <link type="image/png" sizes="16x16" rel="icon" href="../resources/icono.png">
</head>
<body>
    <div>
        <a href="page-login.html"><i class='bx bx-left-arrow-alt row'></i></a>
    </div>
    <div class="ctn-form">
        <form action="" method="post">
            <h2>Restablecer Contraseña</h2>

            <label for="identificacion">Identificación</label>
            <input type="number" id="identificacion" class="inp-identificacion" style="padding: 20px;">

            <button style="margin-top: 1em;">Recuperar Clave</button>

        </form>
    </div>

    <script src="js/utils.js"></script>
</body>
</html>