<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AllTechno</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style_login.css">
    <link type="image/png" sizes="16x16" rel="icon" href="../resources/icono.png">
</head>
<body>
    <div>
        <a href="page-login.html"><i class='bx bx-left-arrow-alt row'></i></a>
    </div>
    <div class="ctn-form">
        <form action="" method="post">
            <h2>Restablecer Contraseña</h2>

            <label for="identificacion">Identificación</label>
            <input type="number" id="identificacion" class="inp-identificacion" style="padding: 20px;">

            <button style="margin-top: 1em;" class="btn-recover-pass">Recuperar Clave</button>

        </form>
    </div>

    <script src="js/utils.js"></script>
    <script>
        const btnRecoverPass = document.querySelector(".btn-recover-pass")

        btnRecoverPass.addEventListener("click", (e) => {
            e.preventDefault()
        
            const identificacion = document.querySelector(".inp-identificacion").value
        
            if(identificacion.length > 6 && identificacion.length <= 11){

                fetch(`http://localhost:5000/allTechno/user/${identificacion}`)
                .then(res => res.json())
                .then (res => {
                    if(res.error){
                        return Swal.fire({
                                title: "Error",
                                text: `${res.error}`,
                                icon: "error"
                        })
                    }
                    if(res.message) {
                        return Swal.fire({
                                title: "Correo enviado",
                                text: `Hemos enviado tu nueva contraseña al correo registrado 
                                con esta identificación. Por favor, revisa tu bandeja de entrada y la carpeta de SPAM.`,
                                icon: "success",
                                timer: 7000
                        })
                    }

                })
                .catch (e => console.error("Error: " + e))
            }
            else {
                const ctnERR = document.createElement("div")
                ctnERR.innerHTML = "<p style='color: red'>La identificación no es válida</p>"
                document.querySelector(".inp-identificacion").insertAdjacentElement("afterend", ctnERR)
            }
        })
    </script>

</body>
</html>