.swiper-wrapper {
    width: 20%;
    margin: 1em;
}

.swiper-zoom-container {
	background-color: #ffffff;
	border-radius: 5px;
	height: 15em;
}

.swiper-slide {
	border: none;
	border-top: 2px solid #444;
	border-bottom: 2px solid #444;
}

.container {
    display: ruby-text;
    justify-content: space-around;
    user-select: none;
    padding: .5em;
}

.search-filter {
    display: flex;
    justify-content: end;
    padding-right: 3em;
    position: relative;
    margin-top: -1em;
}

.select-filter:hover{
    appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
 
.select-filter{
    width: 15%;
	display: inline-block;
	cursor: pointer;
  	padding: 7px 10px;
  	height: 42px;
	background: #ffffff;
	font-size: 1em;
	color: #999;
	border: none;
    outline: none;
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
}

.row-ttl-home {
	align-items: center;
	padding: 2em 3em;
	margin: 0;
}

.row-ttl-home hr {
	width: 90%;
	margin: 0 3em;
}

.row-ttl-home h3 {
	font-size: 1.5em;
}