@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body, html {
    background-color: #171717;
    overflow-x: hidden;
    color: white;
}

a {
  text-decoration: none;
  color: white;
}

nav {
    padding: 1.5em 0;
    display: flex;
    justify-content: space-evenly;
}

.items-nav {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.ttl-nav {
    color: white;
    font-size: 2em;
    font-family: "Zen Dots", sans-serif;
}

.btn-categories {
    background: #333;
    padding: .5em 2em;
    font-size: 1em;
    border-radius: .5em;
    border: none;
    margin-right: 1em;
    width: 40%;
    color: white;
}

.search-bar {
    background: #333;
    outline: none;
    border: none;
    padding: .5em 1em;
    border-radius: .5em;
    font-size: 1em;
    width: 60%;
    margin-left: 1em;
    color: white;
}

.sub-nav {
    background-color: aliceblue;
    padding: 1em 1em;
}

.sub-nav a:hover {
  animation: hoverCategories .5s forwards;
  text-decoration: underline;
  text-decoration-color: #171717;
}

.sub-nav ul {
    list-style: none;
    display: flex;
}

.sub-nav ul li{
    color: #171717;
    padding: 0 2em;
    font-weight: 500;
}

.slider-card {
    width: 100%;
    padding: 1em 3em;
}

.row-ttl-home {
    display: flex;
    justify-content: space-around;
    margin: 1em;
    padding: 1em;
}

.row-ttl-home div {
    width: 87%;
    padding: .5em;
}

.container{
    width: 100%;
    padding: 20px 40px;
    background-color: #282828;
    border-radius: 20px;
    overflow: hidden;
  }

.container .swiper-container{
    width: 100%;
    height: 100%;
}

  .container .swiper-slide {
    position: relative;
    text-align: center;
    font-size: 18px;
    border-radius: 15px;
    text-align: start;
   
  }
  .container .swiper-slide img{
     display: block;
      width: 100%;
      height: 180px;
      object-fit: contain;
  
  }
  .container .swiper-slide{
      padding:1rem 1rem;
      user-select: none;
  }

  .container .swiper-slide{
     text-align: center;
    
  }

  .swiper-button-next{
      right: 26px !important;
  }
  
  .swiper-button-prev{
      left: 26px !important;
  }

  .swiper-button-next:after {
    font-size: 30px;
    color: white;
  }

  .swiper-button-prev:after {
    font-size: 30px;
    color: white;
  }

  .swiper-button-next,  .swiper-button-prev {
    background-color: #282828;
    width: 50px;
    top: 27em;
  }

  .swiper-button-next2,  .swiper-button-prev2 {
    top: 62em;
  }

  .swiper-button-next svg, .swiper-button-prev svg {
    width: 40% !important;
  }

  .swiper-zoom-container {
    background-color: #ffffff;
    border-radius: 5px;
    height: 15em;
  }

  .swiper-slide {
    height: auto;
    border: none;
    border-top: 2px solid #444;
    border-bottom: 2px solid #444;
  }
  
  .data-product {
    padding-top: .6em;
    text-align: center;
  }

  .product-name {
    margin-bottom: 10px;
  }

  .product-price {
    color: #ff3e3e;
    font-weight: 600;
  }

  footer {
    position: relative;
    margin-top: 50px;
    background-color: #5B5B5B;
    padding: 2em 3em;
    display: flex;
    justify-content: space-around;
  }

  .business-info {
    width: 80%;
    padding: 1em 6em 1em 1em;
  }

  .business-info h5 {
    font-size: 1.5em;
  }

  .business-info p {
    font-size: 1em;
    padding-top: 1em;
  }

  .business-contact {
    width: 20%;
    padding: 1em;
  }

  .business-contact h5 {
    font-size: 1.5em;
  }

  .business-contact ul li {
    margin-top: 1em;
  }

  .autor-rights {
    width: 100%;
    display: block;
  }

  .dropdown-menu {
    position: absolute;
    width: 25vw;
    height: fit-content;
    padding: 1em;
    display: none;
    justify-content: center;
    top: 8vh;
    left: 31vw;
    background-color: #5B5B5B;
    border-radius: 15px;
  }

  .row-1{
    width: 60%;
  }

  .row-2 {
    width: 40%;
  }

  .dropdown-menu ul {
    list-style: none;
  }

  .dropdown-menu ul li{
    margin: 15px;
  }

  .dropdown-menu ul li:hover {
    text-decoration:underline;
    font-weight: 600;
    animation: hoverCategories .5s forwards;
    cursor: pointer;
  }

  @keyframes hoverCategories {
    to {
        transform: translateX(5px);
    }
  }

  @keyframes showDropdown {
    from {
        opacity: 0;
        display: none;
    }
    to {
        opacity: 1;
        display: flex;
    }
  }

  @keyframes hideDropdown {
    from {
        opacity: 1;
        display: flex;
    }
    to {
        opacity: 0;
        display: none;
    }
  }

  .product-image {
    border-radius: 5px;
  }

  .dropdown-menu-user {
    left: 79vw;
    width: 10vw;
    padding: 0;
  }