<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" lang="es">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AllTechno</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/style_products.css">
    <link type="image/png" sizes="16x16" rel="icon" href="../../resources/icono.png">
</head>
<body>
    
    <header>
        <nav>
            <a href="../index.html"><h1 class="ttl-nav">AllTechno</h1></a>
            <div class="items-nav">
                <button class="btn-categories">☰ &nbsp;&nbsp; Categorias</button>
                <input class="search-bar" type="text" placeholder="Ingresa tu busqueda">
            </div>
            <img src="../../resources/usuario.png" class="user-icon" alt="user icon" width="30px" height="30px">
        </nav>

        <div class="dropdown-menu">
            <div class="row-1">
                <ul>
                    <a href="desktopPcs.html"><li>Equipos de escritorio</li></a>
                    <a href="processors.html"><li>Procesadores</li></a>
                    <a href="ram.html"><li>RAM</li></a>
                    <a href="powerSupplies.html"><li>Fuentes de poder</li></a>
                </ul>
            </div>
            <div class="row-2">
                <ul>
                    <a href="laptops.html"><li>Portatiles</li></a>
                    <a href="cellphones.html"><li>Celulares</li></a>
                    <a href="screens.html"><li>Pantallas</li></a>
                </ul>
            </div>
        </div>


        <div class="dropdown-menu dropdown-menu-user">
              <ul>
                  <a href="../page-login.html"><li>Iniciar Sesión</li></a>
              </ul>
      </div>

        <div class="sub-nav">
            <ul>
                <a href=""><li>Tienda</li></a>
                <a href="desktopPcs.html"><li>Equipos armados</li></a>
                <a href=""><li>Mejores ofertas</li></a>
            </ul>
        </div>
    </header>

    <main>
        <div class="row-ttl-home">
            <h3>Portátiles</h3>
            <div>
                <hr>
            </div>
            <select name="filter" class="select-filter">
                <option value="">Ordenar por más nuevos</option>
                <option value="">Ordenar por precio: de menor a mayor</option>
                <option value="">Ordenar por precio: de mayor a menor</option>
                <option value="">Ordenar por popularidad</option>
            </select>
        </div>

    </main>

    
    <footer>
        <div class="business-info">
            <h5>NUESTRA EMPRESA</h5>
            <p>El nombre de esta página web fue creado con el único propósito de simular una empresa ficticia con el fin de demostrar habilidades de diseño y desarrollo web, y se utiliza exclusivamente con propósitos educativos y como parte de mi portafolio. Es importante destacar que cualquier coincidencia con el nombre de una empresa real es puramente fortuita, y esta página no tiene ninguna relación ni afiliación con dicha entidad comercial.</p>
            
            <br><hr><p>Franklin Cortés © 
              <span class="year-footer">
                <script>
                  //acceder a año para el footer
                  const date = new Date()
                  document.querySelector(".year-footer").innerHTML = date.getFullYear()
                </script>
            </span></p>
        </div>
        <div class="business-contact">
            <h5>CONTÁCTANOS</h5>
            <ul>
                <li>Bogotá D.C</li>
                <li>alltechnologies@gmail.com</li>
                <li>+57 300 000 00 00</li>
            </ul>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
    <script src="../js/dropdowns.js"></script>


    <script type="module">
        import { loadProducts, loadProduct } from "../js/loadProduct(s).mjs";

        const category = "laptops";
        loadProducts(category)

        // Handle page load with potential state from URL
        window.addEventListener('load', () => {
            const params = new URLSearchParams(window.location.search);
            const id = params.get('id');
            if (id) {
                loadProduct(category, id);
            } else {
                loadProducts(category);
            }
        });

        // Handle back/forward buttons
        window.addEventListener('popstate', (event) => {
            if (id) {
                loadProduct(category, id);
            } else {
                loadProducts(category);
                const linkProduct = document.querySelector('link[href="../css/style_product.css"]')
                document.head.removeChild(linkProduct)
            }
        });
    </script>
</body>
</html>