<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" lang="es">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AllTechno</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <header>
        <nav>
            <h1 class="ttl-nav">AllTechno</h1>
            <div class="items-nav">
                <button class="btn-categories">Categorias</button>
                <input class="search-bar" type="text" placeholder="Ingresa tu busqueda">
            </div>
            <img src="../resources/usuario.png" alt="user icon" width="35px" height="35px">
        </nav>
        <div class="sub-nav">
            <ul>
                <li>Tienda</li>
                <li>Equipos armados</li>
                <li>Mejores precios</li>
            </ul>
        </div>
    </header>

    <main>

    </main>
    
    <footer>

    </footer>

</body>
</html>